* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home {
    display: flex;
    flex-wrap: wrap;
}
.in-flex {
    flex: 1;
    min-width: 500px;
}
.in-flex:first-child {
    flex: 2;
    padding: 20px;
    margin: 2px;
    margin-bottom: 0px;
}
.in-flex div {
    padding: 2px;
    margin: 20px;
}
.img1 {
    width: 95%;
}
.text1 {
    font-size: 25px;
}
